.container {
  width: 100%;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  position: relative;
}
.container > * {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.options {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 300px;
  border: 2px solid #dcdbe0;
  font-size: 90%;
  text-align: left;
  border-radius: 0.5rem;
  max-height: 300px;
  overflow: auto;
  z-index: 50;
  background-color: white;
}

.keySelected {
  background-color: #efefef;
}

.chipSelected {
  background-color: #ccc !important;
}
