.container {
  width: 100%;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--border-color);
  position: relative;
}
.container > * {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--border-color);
}

.options {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 300px;
  border: 2px solid var(--option-color);
  text-align: left;
  border-radius: 0.5rem;
  max-height: 300px;
  overflow: auto;
  z-index: 50;
  background-color: var(--white);
}

.keySelected {
  background-color: #efefef;
}

.chipSelected {
  background-color: var(--grey) !important;
}

.errorMessage {
  margin-top: 0;
  color: var(--red);
  font-size: var(--paragraph3-font-size);
  display: inline-flex;
}

.circle {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  padding: 2px;
  background: #fff;
  border: 1px solid var(--red);
  color: var(--red);
  text-align: center;
  font-size: var(--paragraph3-font-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-family: serif;
  color: var(--dark-grey);
  font-weight: 500;
  font-size: var(--paragraph2-font-size);
  text-align: center;
  margin-bottom: 0.25rem;
}
