.container {
  width: 100%;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  position: relative;
}
.container > * {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.options {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 300px;
  border: 2px solid #dcdbe0;
  font-size: 90%;
  text-align: left;
  border-radius: 0.5rem;
  max-height: 300px;
  overflow: auto;
  z-index: 50;
  background-color: white;
}

.keySelected {
  background-color: #efefef;
}

.chipSelected {
  background-color: #ccc !important;
}

.errorMessage {
  margin-top: 0;
  color: #f24444;
  font-size: 12px;
  display: inline-flex;
}

.circle {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  padding: 2px;
  background: #fff;
  border: 1px solid #f24444;
  color: #f24444;
  text-align: center;
  font-size: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
