.container {
  display: flex;
  position: relative;
}

.chipWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper {
  display: flex;
  border: 2px solid var(--option-color);
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.wrapper:focus-within {
  border: 2px solid #6580ff;
}

.errorWrapper {
  display: flex;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  border: 2px solid var(--red) !important;
}

.inputContainer {
  display: inline-flex;
  align-items: center;
  padding: 0 0 0 0 !important;
}

.input {
  width: 100%;
  border: 0 none !important;
  outline: 0 none !important;
  height: 2rem;
}

.iconLoading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-top: 0.4rem solid #475569;
  position: absolute;
  right: 0.5rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.4rem solid #475569;
  position: absolute;
  right: 0.5rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
}
