.option {
  padding: 0.25rem 0.5rem;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.option:hover {
  background-color: #efefef;
}

.option:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.image {
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}
.episodeCount {
  margin-top: 0.25rem;
  font-weight: 500;
  color: #6d7c92;
  font-size: 12px;
}
